.rounded-pane {
    -fx-background-color: #0d8eb9;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.rounder-border{
    -fx-background-color: #5fbcdc;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}